PROJECT_NAME=SHOCKWAVE Backend
API_V1_PREFIX=/api/v1
DEBUG=true

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shockwave

BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8080"]
